spacy==3.3.1
sentence-transformers>=2.2.2 
numpy<2.0
pandas==1.4.3

# PDF Processing
pdf2docx==0.5.5
python-docx==0.8.10
simplify-docx==0.1.1
PyMuPDF==1.20.1
openpyxl==3.0.10

# Testing
pytest
pytest-cov

# Interaction
prompt-toolkit==3.0.30